{{#if restriccion}}
  <div class="row restriccion">
    {{tenpines/material-button action='sacarRestriccion' icon='close' floating=true right=true classNames='small close-button'}}
    <h6>Restricción de cambio de nivel</h6>
    <small><em>Esta restricción permite acceder al beneficio sólo si el miembro cambió de nivel. Si queremos especificar que el miembro cambió de nivel a Gold, entonces debemos combinarla con la restricción de nivel.</em></small>
  </div>
{{/if}}
