{{#if restriccion}}
  <div class="row restriccion">
    {{tenpines/material-button action='sacarRestriccion' icon='close' floating=true right=true classNames='small close-button'}}
    <h6>Restricción de cantidad de stars acumuladas</h6>
    <small><em>Esta restricción permite acceder al beneficio sólo si el miembro acumuló una cantidad de stars indicadas, o un múltiplo de ellas.</em></small>
    <div class="row">
      {{tenpines/input-number name="numeroDeStars" required=true value=restriccion.umbralDeStarsAcumuladas label="Stars acumuladas" col="s2"}}
    </div>
  </div>
{{/if}}
