{{bread-crumbs list="Beneficios|Redimibles"}}

<div id="redimibles-tabs" class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a {{action 'verRedimibles'}}>Redimibles</a></li>
      <li class="tab col s6"><a {{action 'verItemsMultiopcion'}}>Items Multiopcion</a></li>
    </ul>
  </div>
  {{outlet}}
</div>
