<span hidden={{noHayDatosDelPerfil}} class="card-subtitle">Datos de autorecarga configurada</span>
<div class="row">
  {{optional-label label='Estado' value=perfilDeAutorecarga.estadoDePerfilDeAutoRecarga col='s3'}}
  {{optional-label label='Cuando: El dia del mes' value=perfilDeAutorecarga.diaDelMes col='s3'}}
  {{optional-label label='Cuando: Saldo inferior a' value=perfilDeAutorecarga.umbralDeSaldo col='s3'}}
</div>
