{{#if (not-empty mensajeDeError)}}
  <span class="card-subtitle">Error asociado</span>
  <div class="row">
    {{optional-label label='Mensaje de Error' value=mensajeDeError col='s12'}}
  </div>
{{/if}}
