<span class="card-title">Dirección en ADEA</span>
<div class="row">
  {{tenpines/labeled-label label='Número de Caja' value=direccionEnAdea.numeroDeCaja col='s3'}}
  {{tenpines/labeled-label label='Número de Sobre' value=direccionEnAdea.numeroDeSobre col='s3'}}
  {{tenpines/labeled-label label='Comentario' value=direccionEnAdea.comentario col='s6'}}
</div>
