<div class="col s2">
  <label class="active">Pendientes: {{totalSolicitudesPendientes}}</label>
</div>
<div class="col s2">
  <label class="active">Postergadas: {{totalSolicitudesPostergadas}}</label>
</div>
<div class="col s2">
  <label class="active">Aprobadas: {{totalSolicitudesAprobadas}}</label>
</div>
<div class="col s2">
  <label class="active">Total: {{totalSolicitudes}}</label>
</div>
