<div class="application-versions row">
    <div class="col s12">
      {{tenpines/labeled-label label='V. del backend:' value=model.versionBackend}}
    </div>
    <div class="col s12">
      {{tenpines/labeled-label label='V. del frontend:' value=model.versionFrontend}}
    </div>
</div>
