{{#collapsible-table/-row as |section|}}
  {{#if section.esTitulo}}
    {{materialize/icon-helper 'redeem' }} Beneficios no consumibles al día
  {{else if section.esCuerpo}}
    <div class="row">
      <ul class="col s12">
        {{#if (not-empty beneficios)}}
          {{#each beneficios as |beneficio|}}
            <li>{{beneficio.nombre}}</li>
          {{/each}}
        {{else}}
          <em>El miembro no tiene beneficios no consumibles</em>
        {{/if}}
      </ul>
    </div>
  {{/if}}
{{/collapsible-table/-row}}
