<strong class="col s3" style="margin: 0">{{title}}</strong>
<em style="margin-left: 5%; margin-right: 5%">{{description}}</em>
<a {{action "agregarGeneradorDeVoucher"}} href="#!" class="secondary-content">{{materialize/icon-helper 'add' }}</a>
