<span class="card-title">Cuenta</span>
<div class="row">
  {{tenpines/labeled-label label='Email' value=cuenta.email col='s3'}}
  {{tenpines/labeled-label label='Estado' value=cuenta.estado.nombre col='s3'}}
</div>
