<span class="card-title">Cuenta</span>
<div class="row">
  {{tenpines/input-text name="email" value=cuenta.email required=true label="Email" col="s3"}}
  {{tenpines/input-password name="password" value=cuenta.password required=true label="Password" col="s3"}}
</div>
